* {
    scroll-behavior: smooth;
}

:root{
    --primary-color:#355592;
    --secondary-color:#F39C12;
    --font-color-1:#FEFEFE;
    --font-color-2:#4E4E4E;
    --background-color-white:#FFFFFF;
    --background-color-gray:#F6F6F6;
    --background-color-blue:#F1F8FF;
    --background-color-black:#000000;
    --border-color:#F39C12;
    --border-radius:3px;
}


body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--font-color-1);
    background-color: var(--font-color-1);
}
section {
    padding: 20px;
}

.classes-title {
    margin-bottom: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classes-title h2 {
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 10px;
}

.classes-title p {
    color: var(--font-color-2);
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
    max-width: 600px;
}


footer {
    padding-top: 20px;
    background-color: var(--primary-color);
    color: var(--font-color-1);
}

.blue-button {
    background-color: var(--primary-color);
    color: var(--font-color-1);
    border-color: var(--primary-color);
    margin: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: var(--border-radius);
    font-weight: 600;
}

.orange-button {
    background-color: var(--secondary-color);
    color: var(--font-color-1);
    border-color: var(--secondary-color);
    margin: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: var(--border-radius);
    font-weight: 600;
}

.link-button {
    background:transparent;
    color: var(--font-color-1);
    border-color: var(--font-color-1);
    margin: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: var(--border-radius);
    font-weight: 600;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.divider {
    width: 6em;
    height: 0.5em;
    background-color:var(--secondary-color);
    margin-bottom: 20px;
    justify-self: center;
    border-radius: 50px;
}