.hero-section {
    padding: 0;
    margin: 0;
}
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-image {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: -1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    padding: 20%;
    z-index: 1;
}

.tag {
    background-color: var(--primary-color);
    padding: 5px;
    margin: 10px; 
    border: 0; 
    color: var(--font-color-1); 
    border-radius: 3px; 
    font-size: small; 
    font-weight: 600; 
    text-emphasis-color: var(--font-color-2); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: min-content;
}

.hero-text h1 {
    color: var(--font-color-1);
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -0.5px;
}

.hero-text p {
    background-color: rgba(15, 15, 15, 0.5);
    font-size: 32px;
    font-weight: 600;
    padding: 10px;
}


@media (max-width: 576px) {

    .hero-text h1 {
        font-size: 36px;
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;
        padding-bottom: 10%;
        
    }
    .hero-text p {
        font-size: 18px;
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;
    }
    .blue-button {
        font-size:18px;
        width: 100%;
    }
    .link-button {
        font-size:18px;
        width: 100%;
    }

    .hero-button {
        padding-bottom: 20%;
        padding-top: 20%;
    }
}
